<%= form_for(@item, html: {multipart: true}) do |f| %>
  <ul class="errors">
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.label :image, "Attach an Image" %> <br>
  <%= f.file_field :image %> <br>

  <%#= f.collection_check_boxes(:categories, :id, :name) %><br>
  <%= f.label :status, 'Is Available?' %>
  <%= f.check_box :status %>
  <hr/>

  <%= f.label :category_ids, 'Category' %><br/>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :title) %>
  <%# f.select :category_ids, Category.all.collect {|x| [x.title, x.id]}, {}, :multiple => true %>

  <%= f.submit %>
<% end %>
