<h1> Creating a New Item </h1>


<%= form_for(@item, html: {multipart: true}) do |f| %>
  <ul class="errors">
    <% f.object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :price %>
  <%= f.text_field :price %><br>

  <%= f.label :image, "Attach an Image" %> <br>
  <%= f.file_field :image %> <br>

  <ul>
    <% Category.all.each do |category| %>
        <%= check_box_tag(category.title) %>
        <%= label_tag(category.title) %>
    <% end %>
  </ul>

  <%= f.submit "Create New Item" %>
<% end %>
