<div class="container">

<h1>Admin Dashboard</h1>

<ul class="nav nav-pills">
  <li><%= link_to "Items", root_path %></li>
  <li><%= link_to "Categories", admin_categories_path %></li>

<!--<li><%#= link_to "Orders", admin_orders_path %></li>-->
</ul>
<br>
<table class="table table-hover table-bordered">
  <tr>
    <th>Ordered</th>
    <th>Paid</th>
    <th>Completed</th>
    <th>Cancelled</th>
  </tr>
  <tr>
    <td><%= Order.all.number_ordered %></td>
    <td><%= Order.all.number_paid %></td>
    <td><%= Order.all.number_completed %></td>
    <td><%= Order.all.number_cancelled %></td>
  </tr>
</table>

</div><br>

<div class="admin_orders_list">
  <div class="center_div">
    <h3>All Orders</h3>
    <table class="table table-hover table-bordered">
      <tr>
        <th>Order_id</th>
        <th>User_id</th>
        <th>Subtotal</th>
        <th>Created At</th>
        <th>Last Updated At</th>
        <th>Status</th>
        <th>Update Status</th>
      </tr>
      <div class="orders">
        <% Order.all.each do |order| %>
            <tr class="order" data-status="<%= order.status %>">
              <td><%= link_to "#{order.id}", admin_order_path({id: order.id}) %></td>
              <td><%= order.user_id %></td>
              <td><%= to_dollars(order.subtotal) %></td>
              <td><%= order.date_created %></td>
              <td><%= order.date_updated %></td>
              <td class="order_status"><%= order.status %></td>
              <td><div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Update Status <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Paid", admin_order_update_path({order_id: order.id, status: "paid"}), method: :post %></li>
                  <li><%= link_to "Completed", admin_order_update_path({order_id: order.id, status: "completed"}), method: "post" %></li>
                  <li><%= link_to "Cancelled", admin_order_update_path({order_id: order.id, status: "cancelled"}), method: "post" %></li>
                </ul>
              </div>
              </td>
            </tr>
        <% end %>
      </div>
    </table>

      </div>
</div>
