<div class="admin_order_show">

  <h1>Order Information</h1>

  <h3>Purchaser: <%= @order.user.full_name %> - email: <%= @order.user.email %></h3>
  <h4>ordered: <%= @order.date_of_order(@order.created_at) %></h4>
  <h4>Current Status: <%= @order.order_status %></h4>

  <table>
    <tr>
      <td>Item Name</td>
      <td>Item Quantity</td>
      <td>Item Price</td>
      <td>Item Subtotal</td>
    </tr>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td><%=link_to order_item.item.title, item_path(order_item.item) %></td>
        <td><%= order_item.quantity %></td>
        <td><%= number_to_currency(order_item.item.price / 100.00) %></td>
        <td><%= number_to_currency(order_item.item.price * order_item.quantity / 100.00) %></td>
      </tr>
    <% end %>
    <tr>
      <td>Order Total - <%= number_to_currency(@order.total.to_f / 100.00) %> </td>
    </tr>
  </table><br><br>

  <p>
    Change Order's Status:
  </p>
  <!--<ul>-->
    <!--<li><%= link_to "Paid", admin_order_update_path({order_id: @order.id, status: "paid"}), method: :post %></li>-->
    <!--<li><%= link_to "Completed", admin_order_update_path({order_id: @order.id, status: "completed"}), method: "post" %></li>-->
    <!--<li><%= link_to "Cancelled", admin_order_update_path({order_id: @order.id, status: "cancelled"}), method: "post" %></li>-->
  <!--</ul>-->
</div>
