<div class="admin_order_show">

  <h1>Order Information</h1>

  <h3>Purchaser: <%= @order.user.full_name %> - email: <%= @order.user.email %></h3>
  <h4>ordered: <%= @order.date_created %></h4>
  <h4>Current Status: <%= @order.order_status %></h4>

  <table class="table table-hover table-bordered">
    <tr>
      <td>Item Name</td>
      <td>Quantity</td>
      <td>Price</td>
      <td>Subtotal</td>
    </tr>
    <% @order.item_orders.each do |order_item| %>
      <tr>
        <td><%=link_to order_item.item.title, item_path(order_item.item) %></td>
        <td><%= order_item.quantity %></td>
        <td><%= to_dollars(order_item.item.price) %></td>
        <td><%= to_dollars(order_item.item.price * order_item.quantity) %></td>
      </tr>
    <% end %>
    <tr>
      <td><b>Order Total</b></td>
      <td></td>
      <td></td>
      <td><b><%= to_dollars(@order.total.to_f) %> </b></td>
    </tr>
  </table><br><br>

</div>
