<div class="admin_status_list">
  <h3>Order Summary</h3>
  <table>
    <tr>
      <th>Ordered</th>
      <th>Completed</th>
      <th>Cancelled</th>
    </tr>
    <tr>
      <td><%= @orders.number_ordered %></td>
      <td><%= @orders.number_completed %></td>
      <td><%= @orders.number_cancelled %></td>
    </tr>
  </table>

</div><br>

<div class="admin_orders_list">
  <div class="center_div">
    <h3>All Orders</h3>
    <table class="table table-hover table-bordered">
      <tr>
        <th>Order_id</th>
        <th>User_id</th>
        <th>Subtotal</th>
        <th>Created_At</th>
        <th>Last_Updated_At</th>
        <th>Status</th>
        <th>update Status</th>
      </tr>
      <div class="orders">
        <% @orders.each do |order| %>
          <tr class="order" data-status="<%= order.status %>">
            <td><%= link_to "#{order.id}", admin_order_path({order_id: order.id}) %></td>
            <td><%= order.user_id %></td>
            <td><%= to_dollars(order.subtotal) %></td>
            <td><%= order.date_created %></td>
            <td><%= order.date_updated %></td>
            <td class="order_status"><%= order.status %></td>
            <td>
              <%= link_to "Paid", admin_order_update_path({order_id: order.id, status: "paid"}), method: :post %>
              <%= link_to "Completed", admin_order_update_path({order_id: order.id, status: "completed"}), method: "post" %>
              <%= link_to "Cancelled", admin_order_update_path({order_id: order.id, status: "cancelled"}), method: "post" %>
            </td>
          </tr>
        <% end %>
      </div>
    </table>
  </div>
</div>
