<h1> Create Your Account </h1>

<%= form_for(@user) do |f| %>
  <%= f.label :full_name, "Full Name" %>
  <%= f.text_field :full_name %><br>

  <%= f.label :display_name, "Display Name" %>
  <%= f.text_field :display_name %><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Create Account" %>
<% end %>

