<div class="confirmation">
  <h2>Confirm Your Order</h2>
  <table class="table table-hover table-bordered" >
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= to_dollars(item.price.to_f) %></td>
        <td><%= @cart.count_of(item.id.to_s) %></td>
        <td><%= to_dollars(@cart.subtotal[item.id].to_f) %></td>
      </tr>
    <% end %>
    <tfoot>
    <tr>
      <td><b>Total</b></td>
      <td></td>
      <td><b><%= @cart.total_items %></b></td>
      <td><b><%= to_dollars(@cart.total.to_f) %></b></td>
    </tr>
    </tfoot>
  </table>
  <%= button_to "Confirm Order", orders_path(order: { user_id: current_user.id, subtotal: @cart.total })%>
</div>
