<ul class="nav nav-pills">
  <li> <%= link_to "All Items", root_path %></li>

<% if current_user && admin_user %>
  <li> <%= link_to "Add New Item", new_admin_item_path %></li>
  <li> <%= link_to "Create New Category", new_admin_category_path %></li>
<% end %>

  <% @categories.each do |category| %>
      <li>
        <%= link_to category.title, category_path(category) %>
      </li>
  <% end %>
</ul>

<div class="row text-center">
  <% @items.each do |item| %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <%= image_tag item.image.url %>
        <div class="caption">
          <h3><%= link_to item.title, item_path(item) %></h3>

          <p><%= item.description %></p>

          <p>
            <% if item.available %>
              <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn btn-success" %>
            <% else %>
              <%= button_to "Add to Cart", cart_items_path(item_id: item.id), class: "btn btn-success", disabled: "disabled" %>
              <b>Item Not Currently Available</b><br>
            <% end %>
            <%= to_dollars(item.price) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div>
