<h1><%= @item.title %></h1>

<p><%= image_tag @item.image.url %><br>
   <%= @item.description %><br>
   <%= to_dollars(@item.price) %><br>
   <%= to_dollars(@item.price) %><br>
   Current Status: <%= @item.order_status %><br>

</p>

<!--<h2>Categories</h2>-->
<!--<%# @item.categories.each do |category| %>-->
  <!--<%#= category.title %>-->
<!--<%# end %>-->


<% if current_user && admin_user %>
  <p>
    <%= button_to 'Edit Item', edit_admin_item_path(@item), class:"btn btn-success" %>
    <%#= button_to 'Delete Item', admin_item_path, method: :delete, class:"btn btn-success" %><br>
  </p>
<% end %>

<h4><%= link_to "< Back to All Items", root_path %></h4>
