<h1><%= @item.title %></h1>

<p><%= image_tag @item.image.url %><br>
   <%= @item.description %><br>
   <%= to_dollars(@item.price) %><br>
</p>

<!--<h2>Categories</h2>-->
<!--<%# @item.categories.each do |category| %>-->
  <!--<%#= category.title %>-->
<!--<%# end %>-->


<% if current_user && admin_user %>
  <p>
    <%= button_to 'Edit Item', edit_admin_item_path(@item), class:"btn btn-success" %>
  </p>
<% end %>

<p>
  <% if @item.available %>
    <%= button_to "Add to Cart", cart_items_path(item_id: @item.id), class: "btn btn-success" %>
  <% else %>
    <%= button_to "Item Not Available", cart_items_path(item_id: @item.id), class: "btn btn-error", disabled: "disabled" %>
  <% end %>
</p>

<h4><%= link_to "< Back to All Items", root_path %></h4>
