<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.title, category_path(category) %>
    </li>
  <% end %>
</ul>

<% @category.items.each do |item| %>
  <li>
    <%= link_to item.title, item_path(item) %> <br>
    <%= image_tag item.image.url %> <br>
    <%= item.description %> <br>
    <%= item.price %>
  </li>
<% end %>

