<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="...">
        </a>
        <li><%= link_to 'Dinner Dash', root_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <!--<li><a data-toggle="modal" href="#myModal">Login/Signup</a></li>-->
        <!--<li><a href="#">Sign Up</a></li>-->
        <% if logged_in? %>
            <% if admin_user %>
                <li><%= link_to "Admin Dashboard", admin_path %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% end %>
        <% else %>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign
            Up/Login<strong class="caret"></strong></a>

          <div class="dropdown-menu" style="padding: 15px;">

            <%= form_for(:session, url: login_path) do |f| %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                <br>
                <%= f.submit "Login", class: "btn btn-primary" %>
            <% end %>

            <p>New user? <%= link_to "Sign up now!", new_user_path %></p>

          </div>
        </li>
            <% end %>
        <li>
          <a id="cart" href="<%= cart_items_path %>"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="badge"><%= @cart.total_items %></span></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<%#= flash[:notice] %>
<%#= flash[:error] %>
